<extend name="Include:base" />
<block name="header">
    <js href="__PUBLIC__/Admin/javascript/Statistics/jqplot/jquery.jqplot.min.js"/>
    <js href="__PUBLIC__/Admin/javascript/Statistics/jqplot/examples/syntaxhighlighter/scripts/shCore.min.js"/>
    <js href="__PUBLIC__/Admin/javascript/Statistics/jqplot/examples/syntaxhighlighter/scripts/shBrushJScript.min.js"/>
    <js href="__PUBLIC__/Admin/javascript/Statistics/jqplot/examples/syntaxhighlighter/scripts/shBrushXml.min.js"/>
    <js href="__PUBLIC__/Admin/javascript/Statistics/jqplot/plugins/jqplot.logAxisRenderer.min.js"/>
    <js href="__PUBLIC__/Admin/javascript/Statistics/jqplot/plugins/jqplot.canvasTextRenderer.min.js"/>
    <js href="__PUBLIC__/Admin/javascript/Statistics/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js"/>
    <js href="__PUBLIC__/Admin/javascript/Statistics/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"/>
    <js href="__PUBLIC__/Admin/javascript/Statistics/jqplot/plugins/jqplot.dateAxisRenderer.min.js"/>
    <js href="__PUBLIC__/Admin/javascript/Statistics/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"/>
    <js href="__PUBLIC__/Admin/javascript/Statistics/jqplot/plugins/jqplot.barRenderer.min.js"/>
    <js href="__PUBLIC__/Admin/javascript/Statistics/jqplot/plugins/jqplot.pointLabels.min.js"/>
    <js href="__PUBLIC__/Admin/javascript/Statistics/jqplot/plugins/jqplot.dateAxisRenderer.min.js"/>
    <js href="__PUBLIC__/Admin/javascript/Statistics/jqplot/plugins/jqplot.dateAxisRenderer.min.js"/>
    <css class="include" href="__PUBLIC__/Admin/javascript/Statistics/jqplot/jquery.jqplot.min.css" />
    <css href="__PUBLIC__/Admin/javascript/Statistics/jqplot/examples/syntaxhighlighter/styles/shCoreDefault.min.css" />
    <css href="__PUBLIC__/Admin/javascript/Statistics/jqplot/examples/syntaxhighlighter/styles/shThemejqPlot.min.css" />
    <js href="__PUBLIC__/Admin/javascript/Statistics/m_jqplot.js"/>
    <script type="text/javascript">
        $(document).ready(function() {
//                var bar_id=getQueryString("bar_id");  //正常URL带参形式取参数值
            var bar_id=GetRequest("bar_id");  //PATHINFO模式取参数值
            $.post("/dsyyManage/Admin/Statistics/data",{"bar_id":bar_id},function(record){
                var data = record["data"];
                var data_max = record["data_max"]; //Y轴最大刻度
                var line_title = ["图书总数","借出数目","归还数目"]; //曲线名称
                var y_label = "图书数量"; //Y轴标题
                var x_label = "本月日期"; //X轴标题
                var x = record["time"]; //定义X轴刻度值
                var title = record["thismonth"]+"数据统计<br>（注：此表只统计当前月份的图书借出和归还数据）"; //统计图标标题
                j.jqplot.diagram.base("chart1", data, line_title, title, x, x_label, y_label, data_max, 1);
            },"json")
            $.post("/dsyyManage/Admin/Statistics/type",{"bar_id":bar_id},function(record){
                var data = record["data"];
                var data_max = record["data_max"]; //Y轴最大刻度
                var line_title = ["图书总数","借出数目"]; //曲线名称
                var y_label = "图书数量"; //Y轴标题
                var x_label = "图书类型"; //X轴标题
                var x = record["type"]; //定义X轴刻度值
                var title = "图书类型统计"; //统计图标标题
                j.jqplot.diagram.base("chart2", data, line_title, title, x, x_label, y_label, data_max, 2);
            },"json")
        });
        //正常URL带参形式取参数值
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
        //PATHINFO模式取参数值
        function GetRequest(param) {
            var url = window.location.href;
            if (url.indexOf(param) != -1) {
                var start=url.indexOf(param)+param.length+1;
                var end=url.indexOf(".html");
                var length=end-start;
                var theRequest=url.substr(start,length);
            }
            return theRequest;
        }
    </script>
</block>
<block name="main">
    <div class="page-wrap">
        <section class="page-hd">
            <header>
                <h2 class="title"><i class="icon-bar-chart"></i>{$bar_row.name}-数据统计</h2>
            </header>
            <hr>
        </section>
        <table class="table table-bordered  mb-15 ">
            <thead>
            <tr class="cen">
                <th>图书总数(单位：本)</th>
                <th>借出数目(单位：本)</th>
                <th>在架数目(单位：本)</th>
            </tr>
            </thead>
            <tbody>
            <tr class="cen">
                <td><b>{$book_count_total}</b></td>
                <td><b>{$book_count_lend}</b></td>
                <td><b>{$book_count_total-$book_count_lend}</b></td>
            </tr>
            </tbody>
        </table>
        <div class="flow-layout col-2">
            <ul>
                <li class="child-wrap">
                    <div class="panel panel-default">
                        <div class="panel-bd" id="chart1"></div>
                    </div>
                </li>
                <li class="child-wrap">
                    <div class="panel panel-default">
                        <div class="panel-bd" id="chart2"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</block>
<block name="popup"></block>